<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">logs/TransparentRoads4Ortho-$${date:yyyy-MM-dd HH-mm-ss}.log</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%-8level %msg%n %throwable{none}"/>
        </Console>
        <File name="LogToFile" fileName="${filename}">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %throwable %n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>